.services {
  width: 100%;
  padding: 64px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__title {
    font-size: 32px;
    margin-bottom: 48px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 24px;
  }
}

@media screen and (max-width: 570px) {
  .services__list {
    grid-template-columns: 1fr;
  }
}