.header {
  width: 100%;
  min-height: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 24px;

  &__title {
    font-size: 40px;
    color: black;
    font-weight: 400;
  }

  &__nav {
    display: flex;
    gap: 24px;
  }
}